body {
	padding: 0;
	margin: 0;
	font-family: Helvetica, sans-serif;
	color: #222;
}

.flex-stretch {
	flex: 1 1 auto;
}

.button-icon img {
	height: 16px;
	width: 16px;
}

#topbar {
	display: flex;
	height: 32px;
	background-color: #fff;
	align-items: center;
	padding: 0 20px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

#logo {
	flex: 0 0 auto;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

#user-button {
    display: flex;
    align-items: center;
	flex: 0 1 auto;
	height: 100%;
    cursor: pointer;
}

#user-menu {
	position: absolute;
	background-color: #fff;
	box-shadow: 0 4px 2px #ccc;
	top: 32px;
	right: 20px;
	width: 220px;
}

#nav {
	display: flex;
	height: 40px;
	background-color: #f8f8f8;
	align-items: center;
	box-shadow: 0 4px 2px -2px #ccc;
	padding: 0 20px;
}

#search {
	border: none;
	padding: 5px 20px;
	flex: 0 0 auto;
	box-shadow: none;
	box-sizing: border-box;
	border: 1px solid #bbb;
}

#actions {
	flex: 0 1 auto;
}

#actions button {
	margin-right: 4px;
}

#actions button:last-child {
	margin-right: 0;
}

button {
	font-family: Helvetica;
	background-color: #fff;
	border: none;
	color: #222;
	padding: 5px 20px;
	cursor: pointer;
	outline: 1px solid #bbb;
}

button:hover {
	outline-color: #888;
}

button svg {
    width: 16px;
}

.button-with-icon {
    padding: 5px 10px 5px 30px;
    position: relative;
    text-align: left;
}

.button-icon {
    position: absolute;
    left: 8px;
}

.is-hidden {
	display: none !important;
}

#user-menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

#user-menu li {
	width: 100%;
	padding: 5px 0;
}

#user-menu li:hover {
	background-color: #eee;
}

li a {
	text-decoration: none;
	color: #222;
}

#user-menu li a {
    padding: 0 10px;
}

#modal-overlay {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, .7);
}

#modal {
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	margin: 20px;
	background-color: #fff;
}

#breadcrumb {
    padding: 10px 20px;
    margin: 0;
    list-style: none;
}

#breadcrumb li {
    padding: 0 10px 0 0;
    display: inline-block;
    color: #0d67f8;
}

#breadcrumb li:last-child a {
    color: #222;
}

#page {
    padding: 0 20px;
}

.fill-dark {
    fill: #555;
}

.fill-light {
    fill: #ccc;
}

.table-row {
    height: 30px;
    display: flex;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

.table-cell {
    flex: 1 1 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 20px;
}

.table-cell svg {
    width: 16px;
    vertical-align: middle;
}

.table-header {
    font-weight: bold;
}